.section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  margin-bottom: 50px;
}

.sectionTitle {
  font-family: 'Poppins', sans-serif;
  /* font-weight: 700; */
  font-size: 42px;
  line-height: 52px;
  letter-spacing: -0.4px;
  color: #42446e;
  margin-bottom: 40px;
}

.timeline {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.message {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #666666;
}

.error {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #d32f2f;
}